:root {
    --main-color: #dc3545;
    --main-white: #ffffff;
    --main-black: #000000;

    --secondary-color: #f3af24;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--main-color);
    color: var(--main-white);
}

::selection {
    background: var(--main-color);
    color: var(--main-white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding-inline: 20px;
}

.btn {
    padding: 14px 40px;
    background-color: var(--main-color);
    color: var(--main-white);
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.btn:hover {
    background-color: var(--main-black);
}

.nav-box {
    box-shadow: 0px 2px 5px var(--main-black);
    padding-block: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    user-select: none;
    font-size: 30px;
    font-weight: bolder;
}

.nav-bar {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-bar li a {
    color: var(--main-black);
    text-decoration: none;
    transition: all 0.5s;
    opacity: 0.6;
    letter-spacing: 1.4px;
}

.nav-bar li a:hover,
.nav-bar li a.active {
    color: var(--main-color);
    opacity: 1;
}

/* Header */
.home-header {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    color: var(--main-white);
}
.video-header {
    width: 100%;
    height: 100vh;
    transform: scale(1.5);
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.overlay-content .left h1 {
    font-size: 5rem;
    margin-bottom: 60px;
}

.overlay-content .left .rata {
    margin-bottom: 12px;
}

.overlay-content .left .left-text {
    font-size: 18px;
    letter-spacing: 1.2px;
}

.right {
    width: 70%;
    /* height: 80%; */
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide::after {
    content: "";
    width: 100%;
    height: 36%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.right img {
    width: 100%;
    height: 100%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.slide-content {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 80px;
    /* box-shadow: 0 60px 40px 30px #000; */
    padding: 0 40px;
    z-index: 100;
}

.slide-content .location {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.slide-content .slide-content-top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
}

.slide-content .slide-heading {
    font-size: 34px;
    text-shadow: 0px 0px 10px #000;
}

.price {
    background-color: var(--main-white);
    color: var(--secondary-color);
    padding: 10px 20px;
    font-size: 20px;

    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.rata {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 30px;
    font-weight: bold;
}

.rata .stars {
    display: flex;
}

.slide-btns {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 100;
}

.slide-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    color: var(--main-white);
    border: none;
    transition: all 0.4s;
}

.slide-btn:hover {
    background-color: var(--main-black) !important;
}

.slide-btn.next {
    background-color: var(--main-color);
}

.slide-btn.prev {
    background-color: var(--secondary-color);
}

section {
    padding-block: 120px;
}

.section-heading {
    font-size: 68px;
    letter-spacing: 1.6px;
    text-align: center;
    margin-bottom: 60px;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    position: relative;
}

.section-menu .card {
    width: 32%;
}

.section-menu .card-image {
    width: 100%;
    height: 420px;
    position: relative;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.section-menu .card-cat {
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--main-white);
    padding: 8px 16px;
    border-radius: 4px;
    right: 14px;
    top: 14px;
    font-size: 14px;
    letter-spacing: 1.1px;
}

.section-menu .card-info {
    padding: 30px 20px;
}

.section-menu .card-info-top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.section-menu .card-title {
    font-size: 26px;
    letter-spacing: 1.2px;
}

.section-menu .old-price {
    text-decoration: line-through;
    font-size: 16px;
    opacity: 0.6;
}

.section-menu .card-info-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-menu .count-reviews {
    font-size: 18px;
    opacity: 0.6;
}

.section-image {
    width: 100%;
    height: 50vh;
    background-image: url(/assets/images/image-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-updates .top-cards {
    display: flex;
    justify-content: space-between;
}

.section-updates .top-cards .card {
    width: 49%;
    /* height: 400px; */
    overflow: hidden;
    cursor: pointer;
}

.section-updates .card img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.section-updates .top-cards .card .card-content {
    position: absolute;
    padding: 40px 20px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);
}

.section-updates .top-cards .card:hover img {
    transform: scale(1.4);
}

.section-updates .card img:hover {
    transform: scale(1.4);
}

.card-tag {
    padding: 6px 12px;
    border-radius: 3px;
    color: var(--main-white);
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 1.2px;
}

.section-updates .top-cards .card-heading {
    color: var(--main-white);
}
.section-updates .card-heading {
    font-size: 26px;
}

.section-updates .bottom-cards {
    display: flex;
    justify-content: space-between;
}

.section-updates .bottom-cards .card {
    width: 32%;
    cursor: pointer;
}

.section-updates .bottom-cards .card-image {
    overflow: hidden;
    width: 100%;
    height: 280px;
}

.section-updates .bottom-cards .card-content {
    padding: 20px;
}

.section-updates .card-date {
    padding-left: 20px;
    font-weight: 700;
    font-size: 14px;
}

footer {
    position: relative;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 1)
        ),
        url(assets/images/footer-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 120px 0;
    /* height: 70vh; */
}

footer .logo {
    color: var(--main-white) !important;
    margin-bottom: 60px;
}

.footer-cols {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    font-size: 18px;
    line-height: 1.6;
}

.footer-col {
    width: 32%;
}

.footer-col h3 {
    font-size: 24px;
    color: var(--main-white);
    margin-bottom: 20px;
    font-weight: 500;
}

.footer-col p {
    margin-bottom: 16px;
}

.footer-col a {
    color: #aaa;
    text-decoration: none;
}

.footer-col .link-btn {
    padding: 10px 30px;
    background-color: #212529;
    letter-spacing: 1.4px;
    opacity: 0.8;
    transition: all 0.4s;
}

.footer-col .link-btn:hover {
    opacity: 1;
    color: var(--main-white);
}

.footer-col .social-icons {
    list-style: none;
    display: flex;
    gap: 12px;
    margin-bottom: 50px;
}

.footer-col .social-icons li a svg path {
    fill: #aaa;
}

.footer-col .social-icons li a:hover svg path {
    fill: #fff;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    text-align: center;
    color: var(--main-white);
    padding-block: 160px !important;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    letter-spacing: 1.2px;
}

/* Story Page */

.story-hero {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9)
        ),
        url(assets/images/story_hero.jpg);
}

.story-section {
    display: flex;
    justify-content: space-between;
}

.story-section > * {
    flex-basis: 48%;
}

.story-section .actions p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.story-section .text {
    font-size: 18px;
    color: #aaa;
    line-height: 1.2;
    letter-spacing: 1.1px;
}

.story-section .text b {
    color: #000;
}

.story-section .actions .btns button {
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    color: var(--main-white);
    border-radius: 2px;
    margin-bottom: 10px;
}

.story-section .actions .btns button:first-child {
    background-color: #212529;
    margin-right: 20px;
}

.story-section .actions .btns button:last-child {
    background-color: var(--main-color);
}

.section-team-heading {
    font-size: 3.6rem;
    margin-bottom: 60px;
}

.team-members {
    display: flex;
    justify-content: space-between;
}

.team-member {
    width: 32%;
}

.member-image {
    width: 100%;
    height: 420px;
    margin-bottom: 20px;
}

.member-image img {
    width: 100%;
    height: 100%;
}

.member-name {
    font-size: 30px;
    margin-bottom: 10px;
}

.member-job {
    color: #aaa;
    font-size: 18px;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.newsletter > * {
    width: 40%;
}

.newsletter-image {
    width: 500px;
    height: 500px;
}

.newsletter-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.newsletter-content h3 {
    font-size: 40px;
    margin-bottom: 6px;
}

.newsletter-content h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 1.2px;
    color: #aaa;
}

.newsletter-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.newsletter-content form > * {
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 2px;
}

.newsletter-content form input {
    border: 1px solid #aaa;
}

.newsletter-content form input:focus {
    outline: none;
    box-shadow: 0 0 10px #a2ffff;
}

.newsletter-content form button {
    border: none;
    background-color: var(--main-black);
    color: var(--main-white);
    cursor: pointer;
    transition: all 0.4s;
}

.newsletter-content form button:hover {
    background-color: var(--main-color);
}

.newsletter-content p {
    color: #aaa;
}

/* Menu Page */

.menu-hero {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9)
        ),
        url(assets/images/header/menu-hero.jpg);
}

.section-menu-heading {
    font-size: 3.6rem;
    margin-bottom: 60px;
}

.menu-lunch .card {
    width: 49% !important;
}

/* Updates Page */

.updates-hero {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9)
        ),
        url(assets/images/news/updates-hero.jpg);
}

.section-updates-heading {
    font-size: 3.6rem;
    margin-bottom: 60px;
}

/* Contact Page */

.contact-hero {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9)
        ),
        url(assets/images/header/contact-hero.jpg);
}

.section-contact-heading {
    font-size: 3.6rem;
    margin-bottom: 60px;
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.contact > * {
    width: 46%;
}

.contact form > * {
    width: 100%;
    margin-bottom: 30px;
}

.contact form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #888;
}

.contact form .two-inputs {
    display: flex;
    gap: 20px;
}

.contact form .two-inputs div {
    width: 49%;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #aaa;
}

.contact form input:focus,
.contact form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #a2ffff;
}

.contact form button {
    width: fit-content;
    margin-left: auto;
    display: block;
    padding: 16px 90px;
    font-size: 18px;
    cursor: pointer;
    color: var(--main-white);
    background-color: var(--main-black);
    border: none;
    transition: all 0.3s;
    border-radius: 2px;
}

.contact form button:hover {
    background-color: var(--main-color);
}

.contact .days {
    padding: 60px 20px;
}

.contact .days h4 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
}
.contact .days > div > div {
    display: flex;
    gap: 40px;
    font-size: 18px;
    color: #aaa;
    margin-bottom: 40px;
}

.address {
    font-size: 30px;
    margin-bottom: 40px;
}

/* Media */

@media (max-width: 900px) {
    nav {
        flex-direction: column;
        gap: 20px;
    }

    .video-header {
        transform: scale(2);
    }

    .overlay-content {
        padding-block: 40px;
        flex-direction: column;
        gap: 40px;
    }

    .right {
        width: 100%;
    }

    .slide::after {
        height: 100%;
    }

    .section-menu .card {
        width: 48%;
    }

    .contact {
        flex-direction: column;
    }

    .contact > * {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .video-header {
        transform: scale(2.5);
    }

    .section-menu .card,
    .menu-lunch .card {
        width: 100% !important;
    }

    .top-cards,
    .bottom-cards {
        flex-direction: column;
    }

    .section-updates-cards .top-cards .card,
    .section-updates-cards .bottom-cards .card {
        width: 100%;
    }

    .footer-cols {
        flex-direction: column;
        gap: 80px;
    }

    .footer-col {
        width: 100%;
    }

    .story-section,
    .team-members,
    .newsletter {
        flex-direction: column;
        gap: 40px;
    }

    .team-member,
    .newsletter > * {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .overlay-content .left h1 {
        font-size: 4rem;
    }

    .video-header {
        transform: scale(3.5);
    }

    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .contact form .two-inputs {
        flex-direction: column;
    }

    .contact form .two-inputs div {
        width: 100%;
    }

    .contact .days > div > div {
        flex-direction: column;
        gap: 20px;
    }
}
